.*.sw?
/.bundle
/.r10k_cache
/.tmp
/.vagrant
build/**/build_keys/*
build/**/DVD_Overlay
build/**/GPGKEYS/.dropped_keys
build/**/GPGKEYS/dist
build/**/SIMP
build/distributions/CentOS/7/x86_64/DVD/RPM-GPG-KEY-SIMP-Dev
build/yum_data/*/packages
Gemfile.lock
log
Puppetfile.lock
SIMP_ISO
SIMP_ISO_STAGING
spec/fixtures
src/assets/*
src/build/autorequires
src/dist
src/doc
src/puppet/bootstrap/dist
src/puppet/bootstrap/environments/simp/hieradata/.simp_migrated
src/puppet/modules
src/rsync
src/rubygems
src/utils/dist
