[submodule "build"]
	path = build
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Build
[submodule "src/rsync"]
	path = src/rsync
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Rsync
[submodule "src/doc"]
	path = src/doc
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Doc
[submodule "src/puppet/modules/aide"]
	path = src/puppet/modules/aide
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/aide
[submodule "src/puppet/modules/apache"]
	path = src/puppet/modules/apache
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/apache
[submodule "src/puppet/modules/auditd"]
	path = src/puppet/modules/auditd
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/auditd
[submodule "src/puppet/modules/autofs"]
	path = src/puppet/modules/autofs
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/autofs
[submodule "src/puppet/modules/backuppc"]
	path = src/puppet/modules/backuppc
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/backuppc
[submodule "src/puppet/modules/cgroups"]
	path = src/puppet/modules/cgroups
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/cgroups
[submodule "src/puppet/modules/cinder"]
	path = src/puppet/modules/cinder
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/cinder
[submodule "src/puppet/modules/clamav"]
	path = src/puppet/modules/clamav
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/clamav
[submodule "src/puppet/modules/common"]
	path = src/puppet/modules/common
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/common
[submodule "src/puppet/modules/concat"]
	path = src/puppet/modules/concat
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/concat
[submodule "src/puppet/modules/dhcp"]
	path = src/puppet/modules/dhcp
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/dhcp
[submodule "src/puppet/modules/elasticsearch"]
	path = src/puppet/modules/elasticsearch
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/elasticsearch
[submodule "src/puppet/modules/freeradius"]
	path = src/puppet/modules/freeradius
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/freeradius
[submodule "src/puppet/modules/functions"]
	path = src/puppet/modules/functions
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/functions
[submodule "src/puppet/modules/ganglia"]
	path = src/puppet/modules/ganglia
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/ganglia
[submodule "src/puppet/modules/gfs2"]
	path = src/puppet/modules/gfs2
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/gfs2
[submodule "src/puppet/modules/iptables"]
	path = src/puppet/modules/iptables
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/iptables
[submodule "src/puppet/modules/jenkins"]
	path = src/puppet/modules/jenkins
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/jenkins
[submodule "src/puppet/modules/kibana"]
	path = src/puppet/modules/kibana
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/kibana
[submodule "src/puppet/modules/krb5"]
	path = src/puppet/modules/krb5
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/krb5
[submodule "src/puppet/modules/libvirt"]
	path = src/puppet/modules/libvirt
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/libvirt
[submodule "src/puppet/modules/logrotate"]
	path = src/puppet/modules/logrotate
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/logrotate
[submodule "src/puppet/modules/logstash"]
	path = src/puppet/modules/logstash
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/logstash
[submodule "src/puppet/modules/mcafee"]
	path = src/puppet/modules/mcafee
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/mcafee
[submodule "src/puppet/modules/mozilla"]
	path = src/puppet/modules/mozilla
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/mozilla
[submodule "src/puppet/modules/multipathd"]
	path = src/puppet/modules/multipathd
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/multipathd
[submodule "src/puppet/modules/named"]
	path = src/puppet/modules/named
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/named
[submodule "src/puppet/modules/network"]
	path = src/puppet/modules/network
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/network
[submodule "src/puppet/modules/nfs"]
	path = src/puppet/modules/nfs
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/nfs
[submodule "src/puppet/modules/nova"]
	path = src/puppet/modules/nova
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/nova
[submodule "src/puppet/modules/nscd"]
	path = src/puppet/modules/nscd
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/nscd
[submodule "src/puppet/modules/ntpd"]
	path = src/puppet/modules/ntpd
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/ntpd
[submodule "src/puppet/modules/openldap"]
	path = src/puppet/modules/openldap
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/openldap
[submodule "src/puppet/modules/openscap"]
	path = src/puppet/modules/openscap
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/openscap
[submodule "src/puppet/modules/openstack"]
	path = src/puppet/modules/openstack
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/openstack
[submodule "src/puppet/modules/pam"]
	path = src/puppet/modules/pam
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/pam
[submodule "src/puppet/modules/pki"]
	path = src/puppet/modules/pki
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/pki
[submodule "src/puppet/modules/polkit"]
	path = src/puppet/modules/polkit
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/polkit
[submodule "src/puppet/modules/postfix"]
	path = src/puppet/modules/postfix
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/postfix
[submodule "src/puppet/modules/pupmod"]
	path = src/puppet/modules/pupmod
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/pupmod
[submodule "src/puppet/modules/quantum"]
	path = src/puppet/modules/quantum
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/quantum
[submodule "src/puppet/modules/rsync"]
	path = src/puppet/modules/rsync
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/rsync
[submodule "src/puppet/modules/rsyslog"]
	path = src/puppet/modules/rsyslog
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/rsyslog
[submodule "src/puppet/modules/selinux"]
	path = src/puppet/modules/selinux
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/selinux
[submodule "src/puppet/modules/shinken"]
	path = src/puppet/modules/shinken
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/shinken
[submodule "src/puppet/modules/simp_qpid"]
	path = src/puppet/modules/simp_qpid
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/simp_qpid
[submodule "src/puppet/modules/site"]
	path = src/puppet/modules/site
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/site
[submodule "src/puppet/modules/snmpd"]
	path = src/puppet/modules/snmpd
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/snmpd
[submodule "src/puppet/modules/ssh"]
	path = src/puppet/modules/ssh
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/ssh
[submodule "src/puppet/modules/sssd"]
	path = src/puppet/modules/sssd
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/sssd
[submodule "src/puppet/modules/stunnel"]
	path = src/puppet/modules/stunnel
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/stunnel
[submodule "src/puppet/modules/sudo"]
	path = src/puppet/modules/sudo
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/sudo
[submodule "src/puppet/modules/sudosh"]
	path = src/puppet/modules/sudosh
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/sudosh
[submodule "src/puppet/modules/sysctl"]
	path = src/puppet/modules/sysctl
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/sysctl
[submodule "src/puppet/modules/tcpwrappers"]
	path = src/puppet/modules/tcpwrappers
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/tcpwrappers
[submodule "src/puppet/modules/tftpboot"]
	path = src/puppet/modules/tftpboot
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/tftpboot
[submodule "src/puppet/modules/upstart"]
	path = src/puppet/modules/upstart
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/upstart
[submodule "src/puppet/modules/vnc"]
	path = src/puppet/modules/vnc
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/vnc
[submodule "src/puppet/modules/vsftpd"]
	path = src/puppet/modules/vsftpd
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/vsftpd
[submodule "src/puppet/modules/windowmanager"]
	path = src/puppet/modules/windowmanager
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/windowmanager
[submodule "src/puppet/modules/xinetd"]
	path = src/puppet/modules/xinetd
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/xinetd
[submodule "src/puppet/modules/xwindows"]
	path = src/puppet/modules/xwindows
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/xwindows
[submodule "src/puppet/modules/inifile"]
	path = src/puppet/modules/inifile
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/inifile
[submodule "src/puppet/modules/activemq"]
	path = src/puppet/modules/activemq
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/activemq
[submodule "src/puppet/modules/augeasproviders"]
	path = src/puppet/modules/augeasproviders
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders
[submodule "src/puppet/modules/openshift_origin"]
	path = src/puppet/modules/openshift_origin
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/openshift_origin
[submodule "src/puppet/modules/acpid"]
	path = src/puppet/modules/acpid
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/acpid
[submodule "src/puppet/modules/tpm"]
	path = src/puppet/modules/tpm
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/tpm
[submodule "src/puppet/modules/svckill"]
	path = src/puppet/modules/svckill
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/svckill
[submodule "src/puppet/modules/simp"]
	path = src/puppet/modules/simp
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/simp
[submodule "src/puppet/modules/gpasswd"]
	path = src/puppet/modules/gpasswd
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/gpasswd
[submodule "src/puppet/modules/ceilometer"]
	path = src/puppet/modules/ceilometer
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/ceilometer
[submodule "src/puppet/modules/heat"]
	path = src/puppet/modules/heat
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/heat
[submodule "src/puppet/modules/glance"]
	path = src/puppet/modules/glance
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/glance
[submodule "src/puppet/modules/horizon"]
	path = src/puppet/modules/horizon
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/horizon
[submodule "src/puppet/modules/keystone"]
	path = src/puppet/modules/keystone
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/keystone
[submodule "src/puppet/modules/memcached"]
	path = src/puppet/modules/memcached
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/memcached
[submodule "src/puppet/modules/mysql"]
	path = src/puppet/modules/mysql
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/mysql
[submodule "src/puppet/modules/neutron"]
	path = src/puppet/modules/neutron
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/neutron
[submodule "src/puppet/modules/openvswitch"]
	path = src/puppet/modules/openvswitch
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/openvswitch
[submodule "src/puppet/modules/puppetlabs_apache"]
	path = src/puppet/modules/puppetlabs_apache
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/puppetlabs_apache
[submodule "src/puppet/modules/oddjob"]
	path = src/puppet/modules/oddjob
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/oddjob
[submodule "src/puppet/modules/stdlib"]
	path = src/puppet/modules/stdlib
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/stdlib
[submodule "src/puppet/modules/datacat"]
	path = src/puppet/modules/datacat
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/datacat
[submodule "src/puppet/modules/postgresql"]
	path = src/puppet/modules/postgresql
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/postgresql
[submodule "src/puppet/modules/puppetdb"]
	path = src/puppet/modules/puppetdb
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/puppetdb
[submodule "src/puppet/modules/augeasproviders_apache"]
	path = src/puppet/modules/augeasproviders_apache
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_apache
[submodule "src/puppet/modules/augeasproviders_base"]
	path = src/puppet/modules/augeasproviders_base
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_base
[submodule "src/puppet/modules/augeasproviders_core"]
	path = src/puppet/modules/augeasproviders_core
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_core
[submodule "src/puppet/modules/augeasproviders_grub"]
	path = src/puppet/modules/augeasproviders_grub
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_grub
[submodule "src/puppet/modules/augeasproviders_mounttab"]
	path = src/puppet/modules/augeasproviders_mounttab
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_mounttab
[submodule "src/puppet/modules/augeasproviders_nagios"]
	path = src/puppet/modules/augeasproviders_nagios
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_nagios
[submodule "src/puppet/modules/augeasproviders_pam"]
	path = src/puppet/modules/augeasproviders_pam
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_pam
[submodule "src/puppet/modules/augeasproviders_postgresql"]
	path = src/puppet/modules/augeasproviders_postgresql
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_postgresql
[submodule "src/puppet/modules/augeasproviders_puppet"]
	path = src/puppet/modules/augeasproviders_puppet
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_puppet
[submodule "src/puppet/modules/augeasproviders_shellvar"]
	path = src/puppet/modules/augeasproviders_shellvar
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_shellvar
[submodule "src/puppet/modules/augeasproviders_ssh"]
	path = src/puppet/modules/augeasproviders_ssh
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_ssh
[submodule "src/puppet/modules/augeasproviders_sysctl"]
	path = src/puppet/modules/augeasproviders_sysctl
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/augeasproviders_sysctl
[submodule "src/puppet/modules/mrepo"]
	path = src/puppet/modules/mrepo
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/mrepo
[submodule "src/puppet/modules/java_ks"]
	path = src/puppet/modules/java_ks
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/java_ks
[submodule "src/puppet/modules/java"]
	path = src/puppet/modules/java
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/java
[submodule "src/puppet/modules/mcollective"]
	path = src/puppet/modules/mcollective
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Modules/mcollective
[submodule "src/rubygems/simp-rake-helpers"]
	path = src/rubygems/simp-rake-helpers
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Rubygems/simp-rake-helpers
[submodule "src/rubygems/simp-cli"]
	path = src/rubygems/simp-cli
	url = ssh://gforge.onyxpoint.net:29418/SIMP/Rubygems/simp-cli
