.*.sw?
/.tmp
/.r10k_cache
Gemfile.lock
Puppetfile.lock
SIMP_ISO
SIMP_ISO_STAGING
build/DVD_Overlay
build/GPGKEYS/.dropped_keys
build/GPGKEYS/dist
build/SIMP
build/build_keys/*
build/yum_data/*/packages
src/build/autorequires
src/dist
src/doc
src/puppet/bootstrap/dist
src/puppet/bootstrap/environments/simp/hieradata/.simp_migrated
src/puppet/modules
src/rsync
src/rubygems
src/utils/dist
