.*.sw?
.bundle/
.r10k_cache/
.tmp/
tmp/
.vagrant/
.vscode/
Gemfile.lock
Puppetfile.lock
ISO
SIMP_ISO
SIMP_ISO_STAGING
build/**/DVD_Overlay
build/**/GPGKEYS/.dropped_keys
build/**/GPGKEYS/dist
build/**/SIMP
build/**/build_keys/*
build/distributions/*/*/*/DVD/RPM-GPG-KEY-SIMP-Dev
build/yum_data/*/packages
log/
pkg/
sec_results/
spec/fixtures
src/assets/*
!src/assets/simp
src/assets/simp/dist
src/build/autorequires
src/dist
src/doc
src/puppet/bootstrap/dist
src/puppet/bootstrap/environments/simp/hieradata/.simp_migrated
src/puppet/modules
src/rsync
src/rubygems
src/utils/dist
