# ------------------------------------------------------------------------------
#         NOTICE: **This file is maintained with puppetsync**
#
# This file is automatically updated as part of a puppet module baseline.
# The next baseline sync will overwrite any local changes made to this file.
# ------------------------------------------------------------------------------
--log-format="%{path}:%{line}:%{check}:%{KIND}:%{message}"
--relative
--no-class_inherits_from_params_class-check
--no-140chars-check
--no-trailing_comma-check
--no-params-empty-string-assignment-check
# This is here because the code can't handle lookups in parameters and SIMP
# modules have a LOT of those
--no-parameter_order-check
