[project]
	description = The base SIMP build repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SIMP Admins
	owner = group user/simp-auto
[access "refs/for/refs/*"]
	read = group user/simp-auto
	push = group user/simp-auto
	label-Code-Review = -2..+2 group SIMP Developers
	label-Code-Review = -2..+2 group user/simp-auto
	label-Verified = -1..+1 group SIMP Developers
	label-Verified = -1..+1 group user/simp-auto
	rebase = group SIMP Developers
	rebase = group user/simp-auto
	removeReviewer = group SIMP Developers
	removeReviewer = group user/simp-auto
	submit = group SIMP Developers
	submit = group user/simp-auto
[access "refs/heads/*"]
	read = group user/simp-auto
	create = group user/simp-auto
	push = +force group user/simp-auto
	pushMerge = group user/simp-auto
[access "refs/tags/*"]
	push = +force group SIMP Developers
	push = +force group user/simp-auto
	pushTag = group SIMP Developers
	pushTag = group user/simp-auto
	pushSignedTag = group SIMP Developers
	pushSignedTag = group user/simp-auto
[commentlink "jira"]
	match = ([A-Z]+-[0-9]+)
	link = http://simp-project.atlassian.net/browse/$1