[project]
	description = The base SIMP build repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SIMP Admins
	owner = group user/simp-auto
[access "refs/for/refs/*"]
	read = group SIMP Developers
	read = group SIMP Reviewers
	read = group user/simp-auto
	push = group SIMP Developers
	push = group user/simp-auto
	pushMerge = group SIMP Developers
[access "refs/heads/*"]
	read = group user/simp-auto
	create = group user/simp-auto
	push = +force group user/simp-auto
	pushMerge = group user/simp-auto
	abandon = group SIMP Developers
	label-Code-Review = -2..+2 group SIMP Developers
	label-Code-Review = -2..+2 group SIMP Reviewers
	label-Verified = -1..+1 group SIMP Developers
	label-Verified = -1..+1 group SIMP Reviewers
	rebase = group SIMP Developers
	removeReviewer = group SIMP Developers
	submit = group SIMP Developers
	editTopicName = group SIMP Developers
[access "refs/tags/*"]
	push = +force group SIMP Developers
	push = +force group user/simp-auto
	pushTag = group SIMP Developers
	pushTag = group user/simp-auto
	pushSignedTag = group SIMP Developers
	pushSignedTag = group user/simp-auto
	create = group SIMP Developers
	create = group user/simp-auto
