install
cdrom
text
keyboard us
lang en_US

%include /mnt/stage2/ks/dvd/include/min_ks_base

%pre
cd /mnt
# This is a horrible, horrible, hack to work around bugs in Anaconda.
if [ ! -d source ]; then
  mkdir -p source
fi
if [ `ls source | wc -l` -eq 0 ]; then
  mount -o bind stage2 source
fi


cp /mnt/stage2/ks/repodetect.sh /tmp;
cp /mnt/stage2/ks/diskdetect.sh /tmp;

chmod +x /tmp/*.sh

/tmp/repodetect.sh `grep version /mnt/stage2/.treeinfo | cut -f2 -d'='`
/tmp/diskdetect.sh
%end

%post
# Turn off prelinking and remove all previous
sed -i '/PRELINKING=yes/ c\PRELINKING=no' /etc/sysconfig/prelink
prelink -u -a

# FIPS
if [ -e /sys/firmware/efi ]; then
  BOOTDEV=`df /boot/efi | tail -1 | cut -f1 -d' '`
else
  BOOTDEV=`df /boot | tail -1 | cut -f1 -d' '`
fi
# In case you need a working fallback
DEFAULT_KERNEL_INFO=`/sbin/grubby --default-kernel`
DEFAULT_INITRD=`/sbin/grubby --info=${DEFAULT_KERNEL_INFO} | grep initrd | cut -f2 -d'='`
DEFAULT_KERNEL_TITLE=`/sbin/grubby --info=${DEFAULT_KERNEL_INFO} | grep -m1 title | cut -f2 -d'='`
/sbin/grubby --copy-default --make-default --args="boot=${BOOTDEV} fips=1" --add-kernel=`/sbin/grubby --default-kernel` --initrd=${DEFAULT_INITRD} --title="FIPS ${DEFAULT_KERNEL_TITLE}"
dracut -f

/sbin/chkconfig --add network;
/sbin/chkconfig --level 345 nscd on;
/sbin/chkconfig --level 2345 rsyslog on;

pass_hash='$6$To3L7VhrftMmeSwt$d4a2eqWghCwNA2fv0piCd3xISKbh/9w/9YUESH7nfc.S7rJFTm3G8fbzrjoYqn5purLRAtDhwR36R/AQZRJDZ.'

groupadd -g 1777 simp >& /dev/null;
useradd -d /var/local/simp -g simp -m -p $pass_hash -s /bin/bash -u 1777 -K PASS_MAX_DAYS=90 -K PASS_MIN_DAYS=1 -K PASS_WARN_AGE=7 simp >& /dev/null;
usermod -aG wheel simp;
chage -d 0 root;
chage -d 0 simp;

pam_mod="password     requisite     pam_cracklib.so try_first_pass difok=4 retry=3 minlen=14 minclass=3 maxrepeat=2 maxsequence=4 dcredit=-1 ucredit=-1 lcredit=-1 ocredit=-1 gecoscheck reject_username enforce_for_root\n"
for auth_file in password system; do
  # A double check to make sure we're not running this on a managed system...
  if [ ! `grep -q 'Puppet' /etc/pam.d/${auth_file}-auth` ]; then
    sed -i "s/\(password.*pam_unix.so.*\)/${pam_mod}\1/" /etc/pam.d/${auth_file}-auth
  fi
done

%end
